@model ToolsForEverApplication.Models.Artikel

@{
    ViewBag.Title = "waardevoorraad";
}

<h2>De huidige waarde van de voorraad</h2>

<div class="form-horizontal">
    <h4>Voorraad</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.Inkoopprijs, "Inkoop", htmlAttributes: new { @class = "control-label col-md-2" })
    </div>    
    <div class="form-group">
        @Html.LabelFor(model => model.Verkoopprijs, "Verkoop", htmlAttributes: new { @class = "control-label col-md-2" })
    </div>
</div>