@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Create";
}

<h2>Create a new role</h2>

@using (Html.BeginForm("CreateNewRole", "Roles", FormMethod.Post))
{
    <!-- Create a new role -->
    @Html.EditorFor(m => m.Name)
    <input type="submit" value="Create Role" />
}